<div class="container" style="width: 600px; margin-top: 20px">
  <form action="/answer" class="d-flex">
    <input placeholder="Ask your coach anything:" type="text" name="question" class="form-control" id="question">
    <input type="submit" value="Ask!" class="btn btn-primary" style="margin-left: 10px">
  </form>
</div>
